# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/
*
!*.*
!*/

# Test binary, built with `go test -c`
*.test
testdata/rewrite/output/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
docradle.json

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IntelliJ/GoLnad

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
